/* CSS RESET  */
* {
    margin: 0px;
    padding: 0px;
}

html{
    scroll-behavior: smooth;
}

/* CSS Variables */
:root {
    --navbar-height: 59px
}

/* Navigation bar  */
#navbar {
    display: flex;
    position: sticky;
    top: 0px;
    align-items: center;
    z-index:1;

}

#navbar::before {
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.7;

}

/* Navigation bar: Logo and Image  */
#logo {
    margin: 10px 23px;
}

#logo img {
    margin: 3px 6px;
    height: 63px;
    border-radius: 46px;
}

/* Navigation bar: List Styling  */
#navbar ul {
    display: flex;
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Ubuntu', sans-serif;

}

#navbar ul li {
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a {
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover {
    color: black;
    background-color: whitesmoke;
}

/* Home section  */
#home {
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 550px;
    justify-content: center;
    align-items: center;
}

#home::before {
    content: "";
    background: url('../img/food/pizza.jpg') no-repeat center center/cover;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 642px;
    width: 100%;
    z-index: -1;
    opacity: 0.85;
    animation-name: changeBackground;
    animation-duration: 20s;
    animation-iteration-count:2;
    animation-delay: 5s;
    /* animation-timing-function: ease-in; */
    /* filter: invert(100%); */

}
@keyframes changeBackground {
    0%{
      background: url('../img/food/fruits.jpg')no-repeat center center/cover;
    
    }
    50%{
      background: url('../img/food/bg4.jpg')no-repeat center center/cover;
    
    }
    100%{
        background: url('../img/food/pizza.jpg')no-repeat center center/cover;
    }
    
}

#home h1 {
    color: black;
    text-align: center;
    font-family: 'Bree Serif', serif;
}

#home p {
    color: rgb(245, 237, 237);
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Bree Serif', serif;

}

/* Services Section  */
#services {
    margin: 34px;
    display: flex;
    
}

#services .box {
    border: 2px solid brown;
    padding: 34px;
    margin: 25px 6px;
    border-radius: 23px;
    background-color: rgb(244, 196, 196);
}

#services .box img {
    display: block;
    height: 160px;
    margin: auto;
}

/* #services .box video {
    display: block;
    height: 150px;
    margin: auto;
} */

#services .box p {
    font-family: 'Ubuntu', sans-serif;
}
video{
    display: block;
    height: 150px;
    margin: auto;
    
}

/* Clients section  */

#client-section {
    /* height: 344px; */
    position: relative;

}
#client-section::before {
    content: "";
    position: absolute;
    background: url('../img/food/bg2.jpg')no-repeat center center/cover;
    width: 100%;
    height: 100%;
    z-index:-1;
    opacity: 0.50;

}

#clients {
    display: flex;
    justify-content: center;
    align-items: center;

}

#clients img {
    height: 125px;
    margin: 1px 6px;
    padding: 34px;
}
.client-item{
    padding: 34px;
}

/* Contact section  */
#contact{
    position: relative;
}
#contact::before{
    content: "";
    position: absolute;
    background: url('../img/food/dl.jpg')no-repeat center center/cover;
    width: 100%;
    height: 100%;
    z-index:-1;
    opacity: 0.7;
    margin: 3px 0px;
}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 34px;
}
#contact-box form{
    width: 40%;
}
#contact-box label{
    font-size: 1.3rem;
    font-family: 'Bree Serif', serif;
}
#contact-box input:hover{
    color: black;
    background-color: rgb(235, 203, 228);
    border: 2px solid black;
    cursor: pointer;
}
#contact-box textarea:hover{
    color: black;
    background-color: rgb(235, 203, 228);
    border: 2px solid black;
    cursor: pointer;
}
#contact-box input ,#contact-box textarea {
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
}

footer{
    background-color: black;
    color: white;
    padding: 9px 20px;
}
/* Utility classes */
.h-primary {
    font-size: 2.8rem;
    padding: 12px;
    font-family: 'Ubuntu', sans-serif;

}

.h-secondary {
    font-size: 2.3rem;
    padding: 12px;
    font-family: 'Ubuntu', sans-serif;
}

.btn {
    padding: 6px 20px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer;
}
.btn:hover{
    background-color: wheat;
    color: black;
    border: 2px solid black;
}

.center {
    text-align: center;
}
